package ${packageName}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.sprout.common.entity.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.math.BigDecimal;
import java.time.LocalDate;
import java.time.LocalDateTime;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${className} extends BaseEntity {

#foreach($c in $columns)
#if($c.isPk == "1")
    /** ${c.columnComment} */
    @TableId
    private ${c.javaType} ${c.javaField};

#else
    /** ${c.columnComment} */
    private ${c.javaType} ${c.javaField};

#end
#end
}
